<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>header</key>
		<string>Eroup</string>
		<key>countries</key>
		<array>
			<dict>
				<key>ten</key>
				<string>German</string>
				<key>anh</key>
				<string>Duc.png</string>
				<key>songuoi</key>
				<string>12345678954</string>
				<key>URL</key>
				<string>https://vi.wikipedia.org/wiki/Đức</string>
			</dict>
			<dict>
				<key>ten</key>
				<string>England</string>
				<key>anh</key>
				<string>Anh.png</string>
				<key>songuoi</key>
				<string>1234564213</string>
				<key>URL</key>
				<string>http://vi.wikipedia.org/wiki/Anh</string>
			</dict>
			<dict>
				<key>URL</key>
				<string>https://vi.wikipedia.org/wiki/Hoa_Kỳ</string>
				<key>ten</key>
				<string>United Stage</string>
				<key>anh</key>
				<string>My.png</string>
				<key>songuoi</key>
				<string>1234564321</string>
			</dict>
			<dict>
				<key>URL</key>
				<string>http://vi.wikipedia.org/wiki/Pháp</string>
				<key>ten</key>
				<string>France</string>
				<key>anh</key>
				<string>Phap.png</string>
				<key>songuoi</key>
				<string>123156456464</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string>Asia</string>
		<key>countries</key>
		<array>
			<dict>
				<key>ten</key>
				<string>Vietnam</string>
				<key>anh</key>
				<string>vietnam.png</string>
				<key>songuoi</key>
				<string>20145610</string>
			</dict>
			<dict>
				<key>ten</key>
				<string>Lao</string>
				<key>anh</key>
				<string>Lao.png</string>
				<key>songuoi</key>
				<string>215645312</string>
			</dict>
			<dict>
				<key>ten</key>
				<string>ThaiLand</string>
				<key>anh</key>
				<string>Thai.png</string>
				<key>songuoi</key>
				<string>12345646</string>
			</dict>
			<dict>
				<key>ten</key>
				<string>Cambodia</string>
				<key>anh</key>
				<string>Cam.png</string>
				<key>songuoi</key>
				<string>1234567894</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
