<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>kieuxe</key>
		<string>diahinhM700</string>
		<key>xe</key>
		<string>xedap1.jpg</string>
		<key>tien</key>
		<integer>2500000</integer>
	</dict>
	<dict>
		<key>kieuxe</key>
		<string>diahinhLM350</string>
		<key>xe</key>
		<string>xedap2.jpg</string>
		<key>tien</key>
		<integer>2600000</integer>
	</dict>
	<dict>
		<key>kieuxe</key>
		<string>diahinh250iA</string>
		<key>xe</key>
		<string>xedap3.jpg</string>
		<key>tien</key>
		<integer>2700000</integer>
	</dict>
</array>
</plist>
